<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiuman.xingduoduo"
    android:versionCode="5"
    android:versionName="1.0.0.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 二维码扫描 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />

    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 启动界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户注册界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户个人资料界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户密码修改界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UpdateUserPswActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户信息编辑修改界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UpdateUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户收货地址管理界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserAddressManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户收货地址信息编辑界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserAddressUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户收货地址信息创建界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.UserAddressCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 使用帮助界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>

        <!-- 搜索界面(热门+最近) -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 搜索商品展示 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.SearchGoodsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 分类商品展示界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.ClassifyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 商城分类商品展示界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.CenterClassifyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 限时抢购界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.LimitBuyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 礼品专区界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.ActivityActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 商品详情界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.GoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 商品图文+评论界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.GoodsInfoDiscussActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 购物车界面(单独)(只存在一个) -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.ShoppingCartActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>

        <!-- 确认提交订单页(只存在一个) -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.OrderSubmitActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 订单提交完成界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.OrderCompleteActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 我的订单历史 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.OrderListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 订单详情界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.OrderInfoActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 评价订单 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.DisucssOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 我的收藏界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.CollectionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>

        <!-- 交流          板块 -->
        <!-- 帖子列表 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.BBSPlateActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 帖子详情界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.PostInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustUnspecified" >
        </activity>
        <!-- 帖子图片预览 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.PostImgViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 用户头像预览 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.HeadImgViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 楼层信息 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.FloorReplyInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 发表帖子界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.PostPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <!-- 相册列表界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.AlbumActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 相册图片界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.AlbumLsitActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 图片预览界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.PhotoActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 图案密码绘制 -->
        <activity
            android:name="com.xiuman.xingduoduo.lock.ui.CreateGesturePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.FullScreen" >
        </activity>
        <!-- 图案密码绘制引导界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.lock.ui.GuideGesturePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.FullScreen" >
        </activity>
        <!-- 解锁界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.lock.ui.UnlockGesturePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.FullScreen" >
        </activity>

        <!-- 辅助信息界面 -->
        <!-- 性多多服务协议界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.ProtocolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 设置界面 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 关于 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 应用推荐 -->
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.AppRecommendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <activity
            android:name="com.xiuman.xingduoduo.ui.activity.MyPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <!-- 支付模块 -->
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 分享到微信 -->
        <activity
            android:name="com.xiuman.xingduoduo.api.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- 友盟 -->
        <!-- 反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 版本更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53e1ecd1fd98c5e397002b42" >
        </meta-data>
        <!-- 渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="nuannuan" />
    </application>

</manifest>